<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="element">
            <i class="fas fa-phone"></i>
            Hotline: 1800-1234
        </div>

        <div class="element">
            © Created by Mercy Company | All rights reserved.
        </div>

        <div class="element">
            <i class="fas fa-map-marker-alt"></i>
            Số 10, Quận Cầu Giấy, Hà Nội
        </div>
    </div>
</footer>
</body>
</html>