<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/styles.css}">
<!--  <style>-->
<!--    .search-form {-->
<!--        background-color: #f8f9fa;-->
<!--        padding: 20px;-->
<!--        border-radius: 20px;-->
<!--        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);-->
<!--        color: #583101;-->
<!--    }-->
<!--    .search-form .form-group {-->
<!--        margin-bottom: 0;-->
<!--    }-->
<!--    .search-form .btn {-->
<!--        width: 100%;-->
<!--        background-color: #583101;-->
<!--        border: none;-->
<!--        color: white;-->
<!--    }-->
<!--    .col-md-2 {-->
<!--        position: relative;-->
<!--        left: 50%;-->
<!--        transform: translateX(-50%);-->
<!--    }-->
<!--  </style>-->
</head>
<body>
<div class="container " th:fragment="searchbox">
  <div class="row align-items-end justify-content-center">
    <div class="col-md-10">
      <div class="search-form">
        <form th:action="@{/search}" method="POST">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="form-group">
                <label for="checkInDate">Check-in Date</label>
                <input type="date" class="form-control" id="checkInDate" name="checkInDate" required min="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="checkOutDate">Check-out Date</label>
                <input type="date" class="form-control" id="checkOutDate" name="checkOutDate" required min="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="roomType">Room Type</label>
                <select class="form-control" id="roomType" name="roomType" required>
                  <option value="">Select a room type</option>
                  <option value="standard">Standard Room</option>
                  <option value="deluxe">Deluxe Room</option>
                  <option value="superior">Superior Room</option>
                  <option value="family">Family Room</option>
                  <option value="couple">Couple Simple Room</option>
                </select>
              </div>
            </div>
            <div class="col-md-2 ms-auto">
              <div class="form-group text-center mt-3">
                <button type="submit" class="btn">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  const today = new Date().toISOString().split('T')[0];
  document.getElementById('checkInDate').min = today;
  document.getElementById('checkOutDate').min = today;
</script>
</body>
</html>